{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<p><a href="{% url 'gallery:home' %}">&laquo; Back to full listing</a></p>
<h2>{{ album.title }}</h2>
<p>{{ album.description }}</p>
<a class="btn btn-primary" href="{% url 'gallery:home' %}">Albums</a>
<a class="btn btn-primary" href="{% url 'gallery:add_photo' pk=album.id %}">Add Photo</a>

<h3>Photos</h3>
<table class="table" width="100" cellspacing="5" cellpadding="5" border="1">

    <tr>
        {% for photo in photos %}
        <td>
            <figure>
                    <img src="{{ photo.img.thumb_url }}"></img><br>
            </figure>
            <figcaption>
                {{ photo.caption }}
            </figcaption>

        </td>
        {% if forloop.counter|divisibleby:4 %}
    </tr>
    {% endif %}
    {% endfor %}
    </tr>
</table>

{% endblock %}
